server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://${SPRING_DATASOURCE_URL:localhost:5433/product_db}
    username: ${SPRING_DATASOURCE_USERNAME:product_user}
    password: ${SPRING_DATASOURCE_PASSWORD:product_pass}
    driver-class-name: org.postgresql.Driver
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
      - org.springframework.boot.actuate.autoconfigure.security.servlet.ManagementWebSecurityAutoConfiguration

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: ${SPRING_REDIS_HOST:localhost}
      port: 6379
      timeout: 60000
  cache:
    type: redis

logging:
  level:
    org.springframework: INFO
    order_management.product_service: DEBUG
